In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('files/online_retail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [4]:
df.shape

(541909, 8)

In [8]:
print(df["UnitPrice"].sum())
print(df["UnitPrice"].median())
print(df["UnitPrice"].mean())
print(df["UnitPrice"].count()) # conteo de valores no nulos

2498803.974
2.08
4.611113626088513
541909

In [12]:
md = pd.Series([1, 2, 3, None, None, 4, 6])

In [16]:
print(md.sum()) # suma de valores
print(md.median()) # mediana
print(md.mean()) # promedio
print(md.count()) # conteo de valores no nulos
print(md.std()) # desviacion estandar

16.0
3.0
3.2
5
1.9235384061671346