In [1]:
import pandas as pd
from functions import p

In [2]:
df = pd.read_csv('files/online_retail.csv')

In [3]:
df.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [7]:
df.dropna(subset=["InvoiceDate"], inplace=True)

In [8]:
cf = df.set_index("InvoiceDate")

In [9]:
df.InvoiceDate.dt.year

0         2010
1         2010
2         2010
3         2010
4         2010
          ...
541904    2011
541905    2011
541906    2011
541907    2011
541908    2011
Name: InvoiceDate, Length: 541909, dtype: int32

In [10]:
cf["year"] = cf.index.year
cf["month"] = cf.index.month
cf["day"] = cf.index.day
cf["weekday"] = cf.index.weekday
cf["hour"] = cf.index.hour
cf["minuto"] = cf.index.minute
cf["second"] = cf.index.second

In [11]:
cf.head(3)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,month,day,weekday,hour,minuto,second
InvoiceDate,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,2,8,26,0
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,2,8,26,0

In [12]:
cf.drop(columns=["weekday", "minuto"], inplace=True)

In [13]:
cf.head(3)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,month,day,hour,second
InvoiceDate,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,8,0
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,8,0
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,8,0

In [14]:
cf["dayname"] = cf.index.day_name()
cf["minute"] = cf.index.minute

In [15]:
cf.head(3)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,month,day,hour,second,dayname,minute
InvoiceDate,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,8,0,Wednesday,26
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,8,0,Wednesday,26
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,8,0,Wednesday,26

In [16]:
cf.loc[:, ("year", "month", "day", "hour", "minute", "second", "dayname")].head(3)

                     year  month  day  hour  minute  second    dayname
InvoiceDate
2010-12-01 08:26:00  2010     12    1     8      26       0  Wednesday
2010-12-01 08:26:00  2010     12    1     8      26       0  Wednesday
2010-12-01 08:26:00  2010     12    1     8      26       0  Wednesday

In [17]:
cf.loc["2011", ("year", "month", "day", "hour", "minute", "second", "dayname")].head(3)

                     year  month  day  hour  minute  second  dayname
InvoiceDate
2011-01-04 10:00:00  2011      1    4    10       0       0  Tuesday
2011-01-04 10:00:00  2011      1    4    10       0       0  Tuesday
2011-01-04 10:00:00  2011      1    4    10       0       0  Tuesday

In [18]:
cf.groupby(["year", "month"]).size()

year  month
2010  12       42481
2011  1        35147
      2        27707
      3        36748
      4        29916
      5        37030
      6        36874
      7        39518
      8        35284
      9        50226
      10       60742
      11       84711
      12       25525
dtype: int64

In [19]:
cf.loc["01/06/2011":"15/06/2011"].shape[0]

183335

In [21]:
cf.loc["2011-06-01":"2011-06-15"].shape[0]

19714