In [1]:
import pandas as pd
import numpy as np

In [2]:
dc = {
    "Col1": [1, 2, 3, np.nan],
    "Col2": [4, np.nan, 6, 7],
    "Col3": ["a", "b", "c", None],
}

In [3]:
df = pd.DataFrame(dc)
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [4]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [8]:
df.fillna('MS')

  Col1 Col2 Col3
0  1.0  4.0    a
1  2.0   MS    b
2  3.0  6.0    c
3   MS  7.0   MS

In [12]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [18]:
# df.fillna(df.mean())
df.interpolate()

/tmp/ipykernel_322650/1668797740.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [21]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c

In [22]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None