In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./files/bestsellers-with-categories.csv')

In [4]:
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [5]:
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [6]:
df.groupby('Author').count()

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

In [7]:
df.groupby('Author').max()

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2011,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Steve Jobs,4.6,7827,21,2017,Non Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2013,Non Fiction
William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2017,Fiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2019,Fiction
Zhi Gang Sha,Soul Healing Miracles: Ancient and New Sacred ...,4.6,220,17,2013,Non Fiction

In [8]:
df.groupby('Author').min()

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2010,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Leonardo da Vinci,4.5,3014,20,2011,Non Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2012,Non Fiction
William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2009,Fiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2017,Fiction
Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,4.6,37,6,2009,Non Fiction

In [9]:
df.groupby('Author').sum()

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for StoneCutting for Stone,9.2,9732,22,4021,FictionFiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Leonardo da VinciSteve JobsSteve Jobs,13.7,18668,61,6040,Non FictionNon FictionNon Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",8.8,14994,12,4025,Non FictionNon Fiction
William P. Young,The Shack: Where Tragedy Confronts EternityThe...,9.2,39440,16,4026,FictionFiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons)Player's...,14.4,50970,81,6054,FictionFictionFiction
Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,9.2,257,23,4022,Non FictionNon Fiction

In [10]:
df.groupby('Author').sum().loc["William P. Young"]

Name           The Shack: Where Tragedy Confronts EternityThe...
User Rating                                                  9.2
Reviews                                                    39440
Price                                                         16
Year                                                        4026
Genre                                             FictionFiction
Name: William P. Young, dtype: object

In [11]:
df.groupby('Author').sum().reset_index()

,Author,Name,User Rating,Reviews,Price,Year,Genre
0,Abraham Verghese,Cutting for StoneCutting for Stone,9.2,9732,22,4021,FictionFiction
1,Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
2,Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
3,Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
4,Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...,...
243,Walter Isaacson,Leonardo da VinciSteve JobsSteve Jobs,13.7,18668,61,6040,Non FictionNon FictionNon Fiction
244,William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",8.8,14994,12,4025,Non FictionNon Fiction
245,William P. Young,The Shack: Where Tragedy Confronts EternityThe...,9.2,39440,16,4026,FictionFiction
246,Wizards RPG Team,Player's Handbook (Dungeons & Dragons)Player's...,14.4,50970,81,6054,FictionFictionFiction
247,Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,9.2,257,23,4022,Non FictionNon Fiction

In [12]:
df.groupby('Author').agg(['min', 'max', 'sum', 'count'])

                                                                         Name  \
                                                                          min
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                                                                               \
                                                                          max
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                                                                               \
                                                                          sum
Author
Abraham Verghese                           Cutting for StoneCutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                         Leonardo da VinciSteve JobsSteve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young            The Shack: Where Tragedy Confronts EternityThe...
Wizards RPG Team            Player's Handbook (Dungeons & Dragons)Player's...
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                                 User Rating                  Reviews         \
                           count         min  max   sum count     min    max
Author
Abraham Verghese               2         4.6  4.6   9.2     2    4866   4866
Adam Gasiewski                 1         4.4  4.4   4.4     1    3113   3113
Adam Mansbach                  1         4.8  4.8   4.8     1    9568   9568
Adir Levy                      1         4.8  4.8   4.8     1    8170   8170
Admiral William H. McRaven     1         4.7  4.7   4.7     1   10199  10199
...                          ...         ...  ...   ...   ...     ...    ...
Walter Isaacson                3         4.5  4.6  13.7     3    3014   7827
William Davis                  2         4.4  4.4   8.8     2    7497   7497
William P. Young               2         4.6  4.6   9.2     2   19720  19720
Wizards RPG Team               3         4.8  4.8  14.4     3   16990  16990
Zhi Gang Sha                   2         4.6  4.6   9.2     2      37    220

                            ... Price        Year                    \
                            ...   sum count   min   max   sum count
Author                      ...
Abraham Verghese            ...    22     2  2010  2011  4021     2
Adam Gasiewski              ...     6     1  2017  2017  2017     1
Adam Mansbach               ...     9     1  2011  2011  2011     1
Adir Levy                   ...    13     1  2019  2019  2019     1
Admiral William H. McRaven  ...    11     1  2017  2017  2017     1
...                         ...   ...   ...   ...   ...   ...   ...
Walter Isaacson             ...    61     3  2011  2017  6040     3
William Davis               ...    12     2  2012  2013  4025     2
William P. Young            ...    16     2  2009  2017  4026     2
Wizards RPG Team            ...    81     3  2017  2019  6054     3
Zhi Gang Sha                ...    23     2  2009  2013  4022     2

                                  Genre               \
                                    min          max
Author
Abraham Verghese                Fiction      Fiction
Adam Gasiewski              Non Fiction  Non Fiction
Adam Mansbach                   Fiction      Fiction
Adir Levy                       Fiction      Fiction
Admiral William H. McRaven  Non Fiction  Non Fiction
...                                 ...          ...
Walter Isaacson             Non Fiction  Non Fiction
William Davis               Non Fiction  Non Fiction
William P. Young                Fiction      Fiction
Wizards RPG Team                Fiction      Fiction
Zhi Gang Sha                Non Fiction  Non Fiction


                                                          sum count
Author
Abraham Verghese                               FictionFiction     2
Adam Gasiewski                                    Non Fiction     1
Adam Mansbach                                         Fiction     1
Adir Levy                                             Fiction     1
Admiral William H. McRaven                        Non Fiction     1
...                                                       ...   ...
Walter Isaacson             Non FictionNon FictionNon Fiction     3
William Davis                          Non FictionNon Fiction     2
William P. Young                               FictionFiction     2
Wizards RPG Team                        FictionFictionFiction     3
Zhi Gang Sha                           Non FictionNon Fiction     2

[248 rows x 24 columns]

In [13]:
df.groupby('Author').agg(['min', 'max', 'sum', 'count']).loc["Abraham Verghese"]

Name         min                       Cutting for Stone
             max                       Cutting for Stone
             sum      Cutting for StoneCutting for Stone
             count                                     2
User Rating  min                                     4.6
             max                                     4.6
             sum                                     9.2
             count                                     2
Reviews      min                                    4866
             max                                    4866
             sum                                    9732
             count                                     2
Price        min                                      11
             max                                      11
             sum                                      22
             count                                     2
Year         min                                    2010
             max                                    2011
             sum                                    4021
             count                                     2
Genre        min                                 Fiction
             max                                 Fiction
             sum                          FictionFiction
             count                                     2
Name: Abraham Verghese, dtype: object

In [14]:
df.groupby('Author').agg({"Reviews": ['min', 'max', 'sum', 'count'], "Year": ["min", "max"], "Price": ["min", "max", "mean"]})

                           Reviews                      Year       Price      \
                               min    max    sum count   min   max   min max
Author
Abraham Verghese              4866   4866   9732     2  2010  2011    11  11
Adam Gasiewski                3113   3113   3113     1  2017  2017     6   6
Adam Mansbach                 9568   9568   9568     1  2011  2011     9   9
Adir Levy                     8170   8170   8170     1  2019  2019    13  13
Admiral William H. McRaven   10199  10199  10199     1  2017  2017    11  11
...                            ...    ...    ...   ...   ...   ...   ...  ..
Walter Isaacson               3014   7827  18668     3  2011  2017    20  21
William Davis                 7497   7497  14994     2  2012  2013     6   6
William P. Young             19720  19720  39440     2  2009  2017     8   8
Wizards RPG Team             16990  16990  50970     3  2017  2019    27  27
Zhi Gang Sha                    37    220    257     2  2009  2013     6  17


                                 mean
Author
Abraham Verghese            11.000000
Adam Gasiewski               6.000000
Adam Mansbach                9.000000
Adir Levy                   13.000000
Admiral William H. McRaven  11.000000
...                               ...
Walter Isaacson             20.333333
William Davis                6.000000
William P. Young             8.000000
Wizards RPG Team            27.000000
Zhi Gang Sha                11.500000

[248 rows x 9 columns]

In [16]:
df.groupby(['Author', "Year"]).count()

                       Name  User Rating  Reviews  Price  Genre
Author           Year
Abraham Verghese 2010     1            1        1      1      1
                 2011     1            1        1      1      1
Adam Gasiewski   2017     1            1        1      1      1
Adam Mansbach    2011     1            1        1      1      1
Adir Levy        2019     1            1        1      1      1
...                     ...          ...      ...    ...    ...
Wizards RPG Team 2017     1            1        1      1      1
                 2018     1            1        1      1      1
                 2019     1            1        1      1      1
Zhi Gang Sha     2009     1            1        1      1      1
                 2013     1            1        1      1      1

[493 rows x 5 columns]